---
title: "{{title}}"
author: "{{author}}"
layout: post
date : {{date}}
category: {{category}}
tags:
{{#each tags}}
- {{this}}
{{/each}}

---

JSer.info #{{weekNumber}}

----

{{#Groups}}
<h1 class="site-genre">{{name}}</h1>

{{#articles}}----

## {{{escape_md title}}}
[{{ttp url}}]({{{url}}} "{{{escape_attr title}}}")
{{#if tags}}
<p class="jser-tags jser-tag-icon">{{{format_tags tags}}}</p>
{{/if}}

{{{auto_format_md content}}}

{{#relatedLinks}}
- [{{{escape_md title}}}]({{{url}}} "{{escape_attr title}}")
{{#if @last}}
{{/if}}{{/relatedLinks}}
{{#if @last}}----{{/if}}{{/articles}}
{{/Groups}}
